{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
        <div class="feature-photo">
            <figure><img src="{{ user.profile.cover_image.url }}" alt="" style="height: 400px;"></figure>
            <div class="add-btn">
                <span>1205 followers</span>
                <a href="#" title="" data-ripple="">Add Friend</a>
            </div>
            <form class="edit-phto">
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer">
                    Edit Cover Photo
                    <input type="file"/>
                </label>
            </form>
            <div class="container-fluid">
                <div class="row merged">
                    <div class="col-lg-2 col-sm-3">
                        <div class="user-avatar">
                            <figure>
                                <img src="{{ user.profile.profile_image.url }}" alt="" style="height: 280px">
                                <form class="edit-phto">
                                    <i class="fa fa-camera-retro"></i>
                                    <label class="fileContainer">
                                        Edit Profile Photo
                                        <input type="file" onclick="return confirm('Do you want to change profile photo?')"/>
                                    </label>
                                </form>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-9">
                        <div class="timeline-info">
                            <ul>
                                <li class="admin-name">
                                    <h5>{{ user.username }}</h5>
                                </li>
                                <li>
                                    <a class="active" href="#" title="" data-ripple="">time line</a>
                                    <a class="" href="#" title="" data-ripple="">Photos</a>
                                    <a class="" href="#" title="" data-ripple="">Friends</a>
                                    <a class="" href="#" title="" data-ripple="">about</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- top area -->

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                <div class="loadMore">
{#                                    <div class="central-meta item">#}
{#                                        <div class="new-postbox">#}
{#                                            <figure>#}
{#                                                <img src="{% static user.profile.profile_image.url %}" alt="">#}
{#                                            </figure>#}
{#                                            <div class="newpst-input">#}
{#                                                <form method="post">#}
{#                                                    <textarea rows="2" placeholder="write something"></textarea>#}
{#                                                    <div class="attachments">#}
{#                                                        <ul>#}
{#                                                            <li>#}
{#                                                                <i class="fa fa-music"></i>#}
{#                                                                <label class="fileContainer">#}
{#                                                                    <input type="file">#}
{#                                                                </label>#}
{#                                                            </li>#}
{#                                                            <li>#}
{#                                                                <i class="fa fa-image"></i>#}
{#                                                                <label class="fileContainer">#}
{#                                                                    <input type="file">#}
{#                                                                </label>#}
{#                                                            </li>#}
{#                                                            <li>#}
{#                                                                <i class="fa fa-video-camera"></i>#}
{#                                                                <label class="fileContainer">#}
{#                                                                    <input type="file">#}
{#                                                                </label>#}
{#                                                            </li>#}
{#                                                            <li>#}
{#                                                                <i class="fa fa-camera"></i>#}
{#                                                                <label class="fileContainer">#}
{#                                                                    <input type="file">#}
{#                                                                </label>#}
{#                                                            </li>#}
{#                                                            <li>#}
{#                                                                <button type="submit">Publish</button>#}
{#                                                            </li>#}
{#                                                        </ul>#}
{#                                                    </div>#}
{#                                                </form>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                    {% for post in user.posts.all %}
                                        <div class="central-meta item">
                                            <div class="user-post">
                                                <div class="friend-info">
                                                    <figure>
                                                        <img src="{% static user.profile.profile_image.url %}" alt="">
                                                    </figure>
                                                    <div class="friend-name">
                                                        <ins><a href="#" title="">{{ user.username }}</a></ins>
                                                        <span>published: {{ post.created_at }}</span>
                                                    </div>
                                                    <div class="post-meta">
{#                                                        <img src="images/resources/user-post.jpg" alt="">#}
                                                        <div class="we-video-info">
                                                            <ul>
                                                                <li>
                                                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                                                        <i class="fa fa-comments-o"></i>
                                                                        <ins>{{ post.comments.count }}</ins>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="like" data-toggle="tooltip" title="like">
                                                                        <i class="ti-heart"></i>
                                                                        <ins>2.2k</ins>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="dislike" data-toggle="tooltip" title="dislike">
                                                                        <i class="ti-heart-broken"></i>
                                                                        <ins>200</ins>
                                                                    </span>
                                                                </li>
                                                                <li class="social-media">
                                                                    <div class="menu">
                                                                        <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="description">
                                                            <p style="font-size: 25px; font-weight: bold">{{ post.body }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="coment-area">
                                                    <ul class="we-comet">
                                                        {% for comment in post.comments.all %}
                                                            <li>
                                                                <div class="comet-avatar">
                                                                    <img src="{% static 'images/comment.jpg' %}" alt="" style="width: 50px; height: 50px">
                                                                </div>
                                                                <div class="we-comment">
                                                                    <div class="coment-head">
                                                                        <h5><a href="time-line.html" title="">{{ comment.user.username }}</a></h5>
                                                                        <span>{{ comment.created_at|timesince }} ago</span>
                                                                    </div>
                                                                    <p>{{ comment.content }}</p>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                        {#                                                        <li>#}
                                                        {#                                                            <a href="#" title="" class="showmore underline">more comments</a>#}
                                                        {#                                                        </li>#}
                                                        <li class="post-comment">
                                                            <div class="comet-avatar">
                                                                <img src="{{ request.user.profile.profile_image.url }}" alt="" style="width: 50px; height: 50px">
                                                            </div>
                                                            <div class="post-comt-box">
                                                                <form method="post">
                                                                    <textarea placeholder="Post your comment"></textarea>
                                                                    <button type="submit"></button>
                                                                </form>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Friends</h4>
                                        <div id="searchDir"></div>
                                        <ul id="people-list" class="friendz-list">
                                            <li>
                                                <figure>
                                                    {#<img src="images/resources/friend-avatar.jpg" alt="">#}
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="#">bucky barnes</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="97e0fef9e3f2e5e4f8fbf3f2e5d7f0faf6fefbb9f4f8fa">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="chat-box">
                                            <div class="chat-head">
                                                <span class="status f-online"></span>
                                                <h6>Bucky Barnes</h6>
                                                <div class="more">
                                                    <span><i class="ti-more-alt"></i></span>
                                                    <span class="close-mesage"><i class="ti-close"></i></span>
                                                </div>
                                            </div>
                                            <div class="chat-list">
                                                <ul>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="you">
                                                        <div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <form class="text-box">
                                                    <textarea placeholder="Post enter to post..."></textarea>
                                                    <div class="add-smiles">
                                                        <span title="add icon" class="em em-expressionless"></span>
                                                    </div>
                                                    <div class="smiles-bunch">
                                                        <i class="em em---1"></i>
                                                        <i class="em em-smiley"></i>
                                                        <i class="em em-anguished"></i>
                                                        <i class="em em-laughing"></i>
                                                        <i class="em em-angry"></i>
                                                        <i class="em em-astonished"></i>
                                                        <i class="em em-blush"></i>
                                                        <i class="em em-disappointed"></i>
                                                        <i class="em em-worried"></i>
                                                        <i class="em em-kissing_heart"></i>
                                                        <i class="em em-rage"></i>
                                                        <i class="em em-stuck_out_tongue"></i>
                                                    </div>
                                                    <button type="submit"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}