{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Add Friend</h6>
                        <a href="#" class="more">
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <!-- Notification List Frien Requests -->
                    <ul class="notification-list friend-requests">
                        {% for user in users %}
                            <li>
                                <div class="author-thumb">
                                    {% if user.profile.profile_image.url %}
                                        <img src="{{ user.profile.profile_image.url }}" class="author-img" alt="author" style="height: 45px">
                                    {% else %}
                                        <img src="{% static 'img/bg-birthdays.jpg' %}" class="author-img" alt="author" style="height: 45px">
                                    {% endif %}
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">{{ user.get_full_name }}</a>
{#                                    <span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>#}
                                </div>
                                <span class="notification-icon">
                                    <a href="javascript:void(0)" data-url="{% url 'friends:send-request' user.username %}" class="add-butn add-friend accept-request" data-ripple="" data-friend="{{ user.username }}">
                                        Send Friend Request
                                    </a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- ... end Notification List Friend Requests -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
