{% extends 'base.html' %}

{% block content %}

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget stick-widget">
                                        <h4 class="widget-title">Shortcuts</h4>
                                        <ul class="naves">
                                            <li>
                                                <i class="ti-clipboard"></i>
                                                <a href="{% url 'core:home' %}" title="">News feed</a>
                                            </li>
                                            <li>
                                                <i class="ti-mouse-alt"></i>
                                                <a href="#" title="">Inbox</a>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <a href="#" title="">friends</a>
                                            </li>
                                        </ul>
                                    </div><!-- Shortcuts -->
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="messages">
                                        <h5 class="f-title"><i class="ti-bell"></i>All Messages </h5>
                                        <div class="message-box">
                                            <ul class="peoples">
                                                {% for friend in friends %}
                                                    <li>
                                                        <figure>
                                                            <img src="images/resources/friend-avatar2.jpg" alt="">
                                                            <span class="status f-online"></span>
                                                        </figure>
                                                        <div class="people-name">
                                                            {% if friend.user.username == request.user.username %}
                                                                <a href="{% url 'communications:messages-with-one-friend' friend.friend.username %}">{{ friend.friend.username }}</a>
                                                            {% else %}
                                                                <a href="{% url 'communications:messages-with-one-friend' friend.user.username %}">{{ friend.user.username }}</a>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="peoples-mesg-box">
                                                <div class="text-center">
                                                    Select message to start conversation
                                                </div>
{#                                                <div class="conversation-head">#}
{#                                                    <figure><img src="images/resources/friend-avatar.jpg" alt=""></figure>#}
{#                                                    <span>jason bourne <i>online</i></span>#}
{#                                                </div>#}
{#                                                <ul class="chatting-area">#}
{#                                                    <li class="you">#}
{#                                                        <figure><img src="images/resources/userlist-2.jpg" alt=""></figure>#}
{#                                                        <p>what's liz short for? :)</p>#}
{#                                                    </li>#}
{#                                                    <li class="me">#}
{#                                                        <figure><img src="images/resources/userlist-1.jpg" alt=""></figure>#}
{#                                                        <p>Elizabeth lol</p>#}
{#                                                    </li>#}
{#                                                    <li class="me">#}
{#                                                        <figure><img src="images/resources/userlist-1.jpg" alt=""></figure>#}
{#                                                        <p>wanna know whats my second guess was?</p>#}
{#                                                    </li>#}
{#                                                    <li class="you">#}
{#                                                        <figure><img src="images/resources/userlist-2.jpg" alt=""></figure>#}
{#                                                        <p>yes</p>#}
{#                                                    </li>#}
{#                                                    <li class="me">#}
{#                                                        <figure><img src="images/resources/userlist-1.jpg" alt=""></figure>#}
{#                                                        <p>Disney's the lizard king</p>#}
{#                                                    </li>#}
{#                                                    <li class="me">#}
{#                                                        <figure><img src="images/resources/userlist-1.jpg" alt=""></figure>#}
{#                                                        <p>i know him 5 years ago</p>#}
{#                                                    </li>#}
{#                                                    <li class="you">#}
{#                                                        <figure><img src="images/resources/userlist-2.jpg" alt=""></figure>#}
{#                                                        <p>coooooooooool dude ;)</p>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                                <div class="message-text-container">#}
{#                                                    <form method="post">#}
{#                                                        <textarea></textarea>#}
{#                                                        <button title="send"><i class="fa fa-paper-plane"></i></button>#}
{#                                                    </form>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}