{% load static %}

<!-- JS Scripts -->
<script src="{% static "js/jQuery/jquery-3.4.1.js" %}"></script>
<script src="{% static "js/libs/jquery.appear.js" %}"></script>
<script src="{% static "js/libs/jquery.mousewheel.js" %}"></script>
<script src="{% static "js/libs/perfect-scrollbar.js" %}"></script>
<script src="{% static "js/libs/jquery.matchHeight.js" %}"></script>
<script src="{% static "js/libs/svgxuse.js" %}"></script>
<script src="{% static "js/libs/imagesloaded.pkgd.js" %}"></script>
<script src="{% static "js/libs/Headroom.js" %}"></script>
<script src="{% static "js/libs/velocity.js" %}"></script>
<script src="{% static "js/libs/ScrollMagic.js" %}"></script>
<script src="{% static "js/libs/jquery.waypoints.js" %}"></script>
<script src="{% static "js/libs/jquery.countTo.js" %}"></script>
<script src="{% static "js/libs/popper.min.js" %}"></script>
{#<script src="{% static "js/libs/material.min.js" %}"></script>#}
<script src="{% static "js/libs/bootstrap-select.js" %}"></script>
<script src="{% static "js/libs/smooth-scroll.js" %}"></script>
<script src="{% static "js/libs/selectize.js" %}"></script>
<script src="{% static "js/libs/swiper.jquery.js" %}"></script>
<script src="{% static "js/libs/moment.js" %}"></script>
<script src="{% static "js/libs/daterangepicker.js" %}"></script>
{#<script src="{% static "js/libs/fullcalendar.js" %}"></script>#}
{#<script src="{% static "js/libs/isotope.pkgd.js" %}"></script>#}
<script src="{% static "js/libs/ajax-pagination.js" %}"></script>
{#<script src="{% static "js/libs/Chart.js" %}"></script>#}
{#<script src="{% static "js/libs/chartjs-plugin-deferred.js" %}"></script>#}
{#<script src="{% static "js/libs/circle-progress.js" %}"></script>#}
<script src="{% static "js/libs/loader.js" %}"></script>
<script src="{% static "js/libs/run-chart.js" %}"></script>
<script src="{% static "js/libs/jquery.magnific-popup.js" %}"></script>
<script src="{% static "js/libs/jquery.gifplayer.js" %}"></script>
<script src="{% static "js/libs/mediaelement-and-player.js" %}"></script>
<script src="{% static "js/libs/mediaelement-playlist-plugin.min.js" %}"></script>
<script src="{% static "js/libs/ion.rangeSlider.js" %}"></script>
<script src="{% static "js/libs/leaflet.js" %}"></script>
<script src="{% static "js/libs/MarkerClusterGroup.js" %}"></script>

<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/libs-init/libs-init.js" %}"></script>
<script defer src="{% static "fonts/fontawesome-all.js" %}"></script>

<script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" %}"></script>

<!-- SVG icons loader -->
<script src="{% static "js/svg-loader.js" %}"></script>
<!-- /SVG icons loader -->

{#<script src="https://vjs.zencdn.net/7.1.0/video.min.js"></script>#}

<script src="{% static "js/toastr.min.js" %}"></script>
<script src="{% static "js/reconnecting-websocket.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/like.js" %}"></script>
<script src="{% static "js/notifications.js" %}"></script>
