{% load static %}

<!-- Main Font -->
<script src="{% static 'js/libs/webfontloader.min.js' %}"></script>
<script>
    WebFont.load({
        google: {
            families: ['Roboto:300,400,500,700:latin']
        }
    });
</script>

<!-- Bootstrap CSS -->

<link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap-grid.css' %}">

<!-- Main Styles CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

{#<link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet"/>#}
{#<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">#}
{##}
{#<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->#}
{#<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>#}

